@mixin grid-main {
  @include grid(repeat(4, 1fr), auto, 0, start);
  grid-template-areas:
    "nav . title title"
    "img-2 img-2 img-3 img-3"
    "role . location location"
    ". . phone phone"
    "divider-1 . . ."
    ". . img-8 ."
    "divider-2 . . ."
    ". name name ."
    "img-9 . . ."
    ". details details details"
    ". bio bio bio"
    "divider-3 . . .";

  @include media(">=tablet") {
    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));

    grid-template-areas:
      ". . . . nav . title title"
      "img-1 img-1 img-2 img-2 img-3 img-3 img-4 img-4"
      "role role . . location . phone phone"
      "divider-1 . . . . . . ."
      ". . . . img-8 img-8 . ."
      "divider-2 . . . . . . ."
      "name name name . details details details details"
      ". . . .  bio bio bio bio"
      ". . . img-9 . . . ."
      "divider-3 . . . . . . .";
  }

  @include media(">=desktop") {
    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));

    grid-template-areas:
      ". . . . . . . . nav . . . title title"
      "img-1 img-1 img-2 img-2 img-3 img-3 img-4 img-4 img-5 img-5 img-6 img-6 img-7 img-7"
      "role . . . . . . location . . . . phone phone"
      "divider-1 . . . . . . . . . . . . ."
      ". . . . . . . img-8 img-8 . . . . ."
      "divider-2 . . . . . . . . . . . . ."
      "name name name . . . . . details details . . . ."
      ". . . . . . . . bio bio bio bio . ."
      ". . . . . . img-9 . . . . . . ."
      "divider-3 . . . . . . . . . . . . .";
  }
}
