@mixin grid-about {
  @include grid(repeat(4, 1fr), auto, 0, start);
  grid-template-areas:
    "nav . title title"
    "divider-md-1 . . ."
    ". greetings . ."
    "divider-md-2 . . ."
    ". name name name"
    "img-about-1 . . ."
    ". welcome welcome welcome"
    ". . . img-about-2"
    "divider-sm-1 . . ."
    "img-about-3 img-about-3 img-about-3 ."
    "bio bio bio bio"
    "divider-md-3 . . ."
    "img-about-4 . . ."
    ". education-title education-title education-title"
    ". education-text education-text education-text"
    "divider-md-4 . . ."
    "img-about-5 . img-about-6 img-about-6"
    "img-about-7 img-about-7 . ."
    "divider-md-5 . . ."
    "areas-about areas-about areas-about areas-about"
    "divider-md-6 . . ."
    ". img-about-8 img-about-8 ."
    "img-about-9 . . ."
    ". whyme-title whyme-title whyme-title"
    ". whyme-text whyme-text whyme-text"
    "divider-md-7 . . ."
    ". img-about-10 img-about-10 img-about-10"
    "divider-md-8 . . ."
    "areas-goal areas-goal areas-goal areas-goal"
    "divider-md-9 . . ."
    "img-about-11 img-about-11 . ."
    ". . img-about-12 img-about-12"
    "divider-md-10 . . ."
    ". . link-portfolio ."
    "divider-md-11 . . ."
    "img-about-13 img-about-13 img-about-13 ."
    ". . . img-about-14"
    ". contact contact contact"
    "divider-md-12 . . ."
    ". img-about-15 img-about-15 img-about-15"
    "img-about-16 . . ."
    "divider-md-13 . . ."
    ". img-about-17 img-about-17 ."
    "divider-md-14 . . ."
    ". . . img-about-18"
    "divider-md-15 . . ."
    "slider-name slider-img slider-img slider-controls"
    "slider-info slider-info slider-info slider-info"
    "divider-md-16 . . ."
    "img-common-1 . . ."
    ". . . img-common-2"
    "img-common-3 img-common-3 img-common-3 ."
    "divider-md-17 . . ."
    ". . img-common-4 ."
    "divider-md-18 . . ."
    ". . faq ."
    "accordion accordion accordion accordion"
    "footer footer footer footer";

  @include media(">=tablet") {
    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));

    grid-template-areas:
      ". . . . nav . title title"
      "divider-md-1 . . . . . . ."
      "greetings . . . name name name name"
      "img-about-1 img-about-1 img-about-1 img-about-1 . . . ."
      ". . . . welcome welcome welcome welcome"
      ". . . . . . . img-about-2"
      "divider-sm-1 . . . . . . ."
      ". . img-about-3 img-about-3 . . . ."
      ". . . . bio bio bio bio"
      "divider-md-2 . . . . . . ."
      "img-about-4 . . . . . . ."
      ". education-title education-title education-title education-title . . ."
      ". education-text education-text education-text education-text . . ."
      "divider-md-3 . . . . . . ."
      ". img-about-5 . img-about-6 img-about-6 img-about-6 img-about-6 img-about-6"
      "img-about-7 img-about-7 img-about-7 . . . . ."
      "divider-md-4 . . . . . . ."
      ". . areas-about areas-about areas-about areas-about areas-about areas-about"
      "divider-md-5 . . . . . . ."
      ". . . . img-about-8 img-about-8 . ."
      "divider-md-6 . . . . . . ."
      ". . . . . . . img-about-9"
      "img-about-10 img-about-10 img-about-10 img-about-10 . . . ."
      ". . . . whyme-title whyme-title whyme-title whyme-title"
      ". . . . whyme-text whyme-text whyme-text whyme-text"
      "divider-md-7 . . . . . . ."
      ". . img-about-11 img-about-11 . . . ."
      ". . . . img-about-13 img-about-13 img-about-13 img-about-13"
      "divider-md-8 . . . . . . ."
      "areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal . ."
      "divider-md-9 . . . . . . ."
      ". . . img-about-12 . . . ."
      "divider-md-10 . . . . . . ."
      ". . . . link-portfolio . . ."
      "divider-md-11 . . . . . . ."
      ". . . . . . . img-about-14"
      "img-about-15 img-about-15 img-about-15 img-about-15 contact contact contact contact"
      ". . . . img-about-16 img-about-16 . ."
      "divider-md-12 . . . . . . ."
      "img-about-18 . . . . . img-about-17 img-about-17"
      "divider-md-13 . . . . . . ."
      "slider-name slider-name slider-img slider-img slider-img slider-img slider-img slider-img"
      "slider-controls slider-controls slider-img slider-img slider-img slider-img slider-img slider-img"
      ". . slider-info slider-info slider-info slider-info slider-info slider-info"
      "divider-md-14 . . . . . . ."
      ". img-common-1 . . . . . ."
      ". . . . . . img-common-2 img-common-2"
      "img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 . ."
      "divider-md-15 . . . . . . ."
      ". . . . img-common-4 img-common-4 . ."
      "divider-md-16 . . . . . . ."
      ". . . . faq . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer";
  }

  @include media(">=desktop") {
    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));

    grid-template-areas:
      ". . . . . . . . nav . . . title title"
      "divider-md-1 . . . . . . . . . . . . ."
      "greetings . . . . . . . name name name name . ."
      ". . img-about-1 img-about-1 img-about-1 img-about-1 img-about-1 img-about-1 welcome welcome welcome welcome . ."
      ". . . . . . . . . . . img-about-2 . ."
      "divider-sm-1 . . . . . . . . . . . . ."
      ". . . . . . img-about-3 img-about-3 bio bio bio bio . ."
      "divider-md-2 . . . . . . . . . . . . ."
      ". img-about-4 . . . . . . . . . . . ."
      ". . education-title education-title . . . . . . . . . ."
      ". . education-text education-text education-text education-text . . . . . . . ."
      "divider-md-3 . . . . . . . . . . . . ."
      ". . img-about-5 img-about-5 . . img-about-6 img-about-6 img-about-6 img-about-6 img-about-6 img-about-6 img-about-6 img-about-6"
      "img-about-7 img-about-7 img-about-7 img-about-7 img-about-7 img-about-7 . . . . . . . ."
      "divider-md-4 . . . . . . . . . . . . ."
      ". . . . . . . . areas-about areas-about areas-about areas-about areas-about areas-about"
      "divider-md-5 . . . . . . . . . . . . ."
      ". . . . . . . . img-about-8 img-about-8 . . . ."
      "divider-md-6 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . img-about-9"
      "divider-md-7 . . . . . . . . . . . . ."
      "img-about-10 img-about-10 img-about-10 img-about-10 img-about-10 img-about-10 img-about-10 img-about-10 . . . . . ."
      ". . . . . . . . whyme-title whyme-title whyme-title whyme-title . ."
      ". . . . . . . . whyme-text whyme-text whyme-text whyme-text . ."
      "divider-md-8 . . . . . . . . . . . . ."
      ". . . . img-about-11 img-about-11 . . . . . . . ."
      "divider-md-9 . . . . . . . . . . . . ."
      ". . . . . . . . img-about-13 img-about-13 img-about-13 img-about-13 img-about-13 img-about-13"
      "divider-md-10 . . . . . . . . . . . . ."
      "areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal areas-goal . . . ."
      "divider-md-11 . . . . . . . . . . . . ."
      ". . . . . . img-about-12 img-about-12 . . . . . ."
      "divider-md-12 . . . . . . . . . . . . ."
      ". . . . . . . . link-portfolio . . . . ."
      "divider-md-13 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . img-about-14"
      ". . img-about-15 img-about-15 img-about-15 img-about-15 img-about-15 img-about-15 contact contact contact contact . ."
      ". . . . . . . . img-about-16 img-about-16 . . . ."
      "divider-md-14 . . . . . . . . . . . . ."
      "img-about-18 . . . . . . . . . . . img-about-17 img-about-17"
      "divider-md-15 . . . . . . . . . . . . ."
      "slider-name slider-name slider-img slider-img slider-img slider-img slider-img slider-img slider-controls slider-controls . . . ."
      ". . slider-img slider-img slider-img slider-img slider-img slider-img slider-info slider-info slider-info slider-info . ."
      "divider-md-16 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . .  img-common-1"
      "divider-md-17 . . . . . . . . . . . . ."
      ". . . . . . . . . . img-common-2 img-common-2 . ."
      "img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 . . . ."
      "divider-md-18 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . img-common-4 img-common-4"
      "divider-md-19 . . . . . . . . . . . . ."
      ". . . . . . . . faq . . . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}
