@mixin grid-main {
  @include grid(repeat(4, 1fr), auto, 0, start);
  grid-template-areas:
    "nav . title title"
    "img-main-2 img-main-2 img-main-3 img-main-3"
    "role . location location"
    ". . phone phone"
    "divider-md-1 . . ."
    ". . img-main-8 ."
    "divider-md-2 . . ."
    ". name name ."
    "img-main-9 . . ."
    ". details details details"
    ". bio bio bio"
    "divider-md-3 . . ."
    ". img-main-10 img-main-10 ."
    "divider-md-4 . . ."
    ". . . img-main-11"
    "divider-md-5 . . ."
    "areas areas areas areas"
    "divider-md-6 . . ."
    "img-main-12 img-main-12 . ."
    ". . img-main-13 img-main-13"
    "divider-md-7 . . ."
    ". img-main-14 . ."
    "divider-md-8 . . ."
    ". link-1 . ."
    "divider-md-9 . . ."
    "img-main-15 img-main-15 . img-main-16"
    "divider-md-10 . . ."
    ". . img-main-17 img-main-17"
    "divider-md-11 . . ."
    "pricing pricing pricing pricing"
    "divider-md-12 . . ."
    ". . img-main-18 ."
    "divider-md-13 . . ."
    "img-main-19 img-main-19 . ."
    ". . img-main-20 img-main-20"
    "divider-md-14 . . ."
    ". img-main-21 . ."
    "divider-md-15 . . ."
    ". . img-main-22 img-main-22"
    "divider-md-16 . . ."
    "slider-name slider-img slider-img slider-controls"
    "slider-info slider-info slider-info slider-info"
    "divider-md-17 . . ."
    "img-common-1 . . ."
    ". . . img-common-2"
    "img-common-3 img-common-3 img-common-3 ."
    "divider-md-18 . . ."
    ". . img-common-4 ."
    "divider-md-19 . . ."
    ". . faq ."
    "accordion accordion accordion accordion"
    "footer footer footer footer";

  @include media(">=tablet") {
    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));

    grid-template-areas:
      ". . . . nav . title title"
      "img-main-1 img-main-1 img-main-2 img-main-2 img-main-3 img-main-3 img-main-4 img-main-4"
      "role role . . location . phone phone"
      "divider-md-1 . . . . . . ."
      ". . . . img-main-8 img-main-8 . ."
      "divider-md-2 . . . . . . ."
      "name name name name details details details details"
      ". . . . bio bio bio bio"
      ". . . img-main-9 . . . ."
      "divider-md-3 . . . . . . ."
      ". . . . . . img-main-10 img-main-10"
      "divider-md-4 . . . . . . ."
      "areas areas areas areas areas areas . ."
      "divider-md-5 . . . . . . ."
      "img-main-12 img-main-12 img-main-12 img-main-12 . . . ."
      ". . . . img-main-13 img-main-13 img-main-13 img-main-13"
      "divider-md-6 . . . . . . ."
      ". . . . . . img-main-11 ."
      "img-main-17 img-main-17 . link-1 . . . ."
      "divider-md-7 . . . . . . ."
      ". . . . . img-main-15 . ."
      "divider-md-8 . . . . . . ."
      "img-main-14 img-main-14 . . . . . img-main-16"
      "divider-md-9 . . . . . . ."
      ". . . pricing pricing pricing pricing pricing"
      "divider-md-10 . . . . . . ."
      ". . img-main-18 . . . . ."
      ". . . . . . img-main-19 img-main-19"
      "img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 . ."
      "divider-md-11 . . . . . . ."
      ". . . . . . . img-main-21"
      "divider-md-12 . . . . . . ."
      ". . img-main-22 img-main-22 . . . ."
      "divider-md-13 . . . . . . ."
      "slider-name slider-name slider-img slider-img slider-img slider-img slider-img slider-img"
      "slider-controls slider-controls slider-img slider-img slider-img slider-img slider-img slider-img"
      ". . slider-info slider-info slider-info slider-info slider-info slider-info"
      "divider-md-14 . . . . . . ."
      ". img-common-1 . . . . . ."
      ". . . . . . img-common-2 img-common-2"
      "img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 . ."
      "divider-md-15 . . . . . . ."
      ". . . . img-common-4 img-common-4 . ."
      "divider-md-16 . . . . . . ."
      ". . . . faq . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer";
  }

  @include media(">=desktop") {
    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));

    grid-template-areas:
      ". . . . . . . . nav . . . title title"
      "img-main-1 img-main-1 img-main-2 img-main-2 img-main-3 img-main-3 img-main-4 img-main-4 img-main-5 img-main-5 img-main-6 img-main-6 img-main-7 img-main-7"
      "role . . . . . . . location . . . phone phone"
      "divider-md-1 . . . . . . . . . . . . ."
      ". . . . . . img-main-8 img-main-8 . . . . . ."
      "divider-md-2 . . . . . . . . . . . . ."
      "name name name . . . . . details details . . . ."
      ". . . . . . . . bio bio bio bio . ."
      ". . . . . img-main-9 . . . . . . . ."
      "divider-md-3 . . . . . . . . . . . . ."
      ". areas areas areas areas areas areas areas . . . . img-main-10 img-main-10"
      "divider-md-4 . . . . . . . . . . . . ."
      "img-main-12 img-main-12 img-main-12 img-main-12 img-main-12 img-main-12 img-main-12 img-main-12 . . img-main-11 img-main-11 . ."
      ". . . . . . . . img-main-13 img-main-13 img-main-13 img-main-13 img-main-13 img-main-13"
      "divider-md-5 . . . . . . . . . . . . ."
      "img-main-17 img-main-17 . . . . link-1 link-1 . . . . . ."
      "divider-md-6 . . . . . . . . . . . . ."
      ". . . . . . img-main-15 img-main-15 . . . . . ."
      "divider-md-7 . . . . . . . . . . . . ."
      "img-main-14 img-main-14 . . . . . . . . . . img-main-16 ."
      "divider-md-8 . . . . . . . . . . . . ."
      ". . img-main-18 img-main-18 . . . . pricing pricing pricing pricing pricing pricing"
      "divider-md-9 . . . . . . . . . . . . ."
      ". . . . . . . . img-main-19 img-main-19 . . . ."
      "img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 img-main-20 . . . . . ."
      "divider-md-10 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . img-main-21"
      "divider-md-11 . . . . . . . . . . . . ."
      ". . . . . . img-main-22 img-main-22 . . . . . ."
      "divider-md-12 . . . . . . . . . . . . ."
      "slider-name slider-name slider-img slider-img slider-img slider-img slider-img slider-img slider-controls slider-controls . . . ."
      ". . slider-img slider-img slider-img slider-img slider-img slider-img slider-info slider-info slider-info slider-info . ."
      "divider-md-13 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . .  img-common-1"
      "divider-md-14 . . . . . . . . . . . . ."
      ". . . . . . . . . . img-common-2 img-common-2 . ."
      "img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 img-common-3 . . . ."
      "divider-md-15 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . img-common-4 img-common-4"
      "divider-md-16 . . . . . . . . . . . . ."
      ". . . . . . . . faq . . . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}
