@mixin grid-main {
  @include grid(repeat(4, 1fr), auto, 0, start);
  grid-template-areas:
    "nav . title title"
    "img-2 img-2 img-3 img-3"
    "role . location location"
    ". . phone phone"
    "divider-1 . . ."
    ". . img-8 ."
    "divider-2 . . ."
    ". name name ."
    "img-9 . . ."
    ". details details details"
    ". bio bio bio"
    "divider-3 . . ."
    ". img-10 img-10 ."
    "divider-4 . . ."
    ". . . img-11"
    "divider-5 . . ."
    "area area area area"
    "divider-6 . . ."
    "img-12 img-12 . ."
    ". . img-13 img-13"
    "divider-7 . . ."
    ". img-14 . ."
    "divider-8 . . ."
    ". link-1 . ."
    "divider-9 . . ."
    "img-15 img-15 . img-16"
    "divider-10 . . ."
    ". . img-17 img-17"
    "divider-11 . . ."
    "pricing pricing pricing pricing"
    "divider-12 . . ."
    ". . img-18 ."
    "divider-13 . . ."
    "img-19 img-19 . ."
    ". . img-20 img-20"
    "divider-14 . . ."
    ". img-21 . ."
    "divider-15 . . ."
    ". . img-22 img-22"
    "divider-16 . . ."
    "reviews reviews reviews reviews"
    "divider-17 . . ."
    "img-23 . . ."
    ". . . img-24"
    "img-25 img-25 img-25 ."
    "divider-18 . . ."
    ". . img-26 ."
    "divider-19 . . ."
    ". . faq ."
    "accordion accordion accordion accordion"
    "footer footer footer footer";

  @include media(">=tablet") {
    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));

    grid-template-areas:
      ". . . . nav . title title"
      "img-1 img-1 img-2 img-2 img-3 img-3 img-4 img-4"
      "role role . . location . phone phone"
      "divider-1 . . . . . . ."
      ". . . . img-8 img-8 . ."
      "divider-2 . . . . . . ."
      "name name name name details details details details"
      ". . . . bio bio bio bio"
      ". . . img-9 . . . ."
      "divider-3 . . . . . . ."
      ". . . . . . img-10 img-10"
      "divider-4 . . . . . . ."
      "area area area area area area . ."
      "divider-5 . . . . . . ."
      "img-12 img-12 img-12 img-12 . . . ."
      ". . . . img-13 img-13 img-13 img-13"
      "divider-6 . . . . . . ."
      ". . . . . . img-11 ."
      "img-17 img-17 . link-1 . . . ."
      "divider-7 . . . . . . ."
      ". . . . . img-15 . ."
      "divider-8 . . . . . . ."
      "img-14 img-14 . . . . . img-16"
      "divider-9 . . . . . . ."
      ". . . pricing pricing pricing pricing pricing"
      "divider-10 . . . . . . ."
      ". . img-18 . . . . ."
      ". . . . . . img-19 img-19"
      "img-20 img-20 img-20 img-20 img-20 img-20 . ."
      "divider-11 . . . . . . ."
      ". . . . . . . img-21"
      "divider-12 . . . . . . ."
      ". . img-22 img-22 . . . ."
      "divider-13 . . . . . . ."
      "reviews reviews reviews reviews reviews reviews reviews reviews"
      "divider-14 . . . . . . ."
      ". img-23 . . . . . ."
      ". . . . . . img-24 img-24"
      "img-25 img-25 img-25 img-25 img-25 img-25 . ."
      "divider-15 . . . . . . ."
      ". . . . img-26 img-26 . ."
      "divider-16 . . . . . . ."
      ". . . . faq . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer";
  }

  @include media(">=desktop") {
    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));

    grid-template-areas:
      ". . . . . . . . nav . . . title title"
      "img-1 img-1 img-2 img-2 img-3 img-3 img-4 img-4 img-5 img-5 img-6 img-6 img-7 img-7"
      "role . . . . . . . location . . . phone phone"
      "divider-1 . . . . . . . . . . . . ."
      ". . . . . . img-8 img-8 . . . . . ."
      "divider-2 . . . . . . . . . . . . ."
      "name name name . . . . . details details . . . ."
      ". . . . . . . . bio bio bio bio . ."
      ". . . . . img-9 . . . . . . . ."
      "divider-3 . . . . . . . . . . . . ."
      ". area area area area area area area . . . . img-10 img-10"
      "divider-4 . . . . . . . . . . . . ."
      "img-12 img-12 img-12 img-12 img-12 img-12 img-12 img-12 . . img-11 img-11 . ."
      ". . . . . . . . img-13 img-13 img-13 img-13 img-13 img-13"
      "divider-5 . . . . . . . . . . . . ."
      "img-17 img-17 . . . . link-1 link-1 . . . . . ."
      "divider-6 . . . . . . . . . . . . ."
      ". . . . . . img-15 img-15 . . . . . ."
      "divider-7 . . . . . . . . . . . . ."
      "img-14 img-14 . . . . . . . . . . img-16 ."
      "divider-8 . . . . . . . . . . . . ."
      ". . img-18 img-18 . . . . pricing pricing pricing pricing pricing pricing"
      "divider-9 . . . . . . . . . . . . ."
      ". . . . . . . . img-19 img-19 . . . ."
      "img-20 img-20 img-20 img-20 img-20 img-20 img-20 img-20 . . . . . ."
      "divider-10 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . . img-21"
      "divider-11 . . . . . . . . . . . . ."
      ". . . . . . img-22 img-22 . . . . . ."
      "divider-12 . . . . . . . . . . . . ."
      "reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews reviews . ."
      "divider-13 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . .  img-23"
      "divider-14 . . . . . . . . . . . . ."
      ". . . . . . . . . . img-24 img-24 . ."
      "img-25 img-25 img-25 img-25 img-25 img-25 img-25 img-25 img-25 img-25 . . . ."
      "divider-15 . . . . . . . . . . . . ."
      ". . . . . . . . . . . . img-26 img-26"
      "divider-16 . . . . . . . . . . . . ."
      ". . . . . . . . faq . . . . ."
      "accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion accordion"
      "footer footer footer footer footer footer footer footer footer footer footer footer footer footer";
  }
}
