$transition: opacity 0.2s;

$z-indexes: ("level-six", "level-five", "level-four", "level-three", "level-two", "level-one");

// *** COLORS ***
$col-black: #0c0c0e;
$col-white: #ffffff;
$col-grey: #6b6b6b;

$col-bg: $col-white;
$col-primary: $col-black;
// *** COLORS END ***

// *** FONTS ***
$font-creato-display: "Creato Display", Arial, Helvetica, sans-serif;

$font-color-primary: $col-black;

$font-size-mobile: dynamic-size(14, 15, "mobile");
$font-size-tablet: dynamic-size(15, 13, "tablet");
$font-size-desktop: dynamic-size(13, 16, "desktop");

$font-size-largeScreen: 16px;

@mixin font-responsive {
  font-size: dynamic-size(14, 15, "mobile");
  line-height: 1.2;

  @include media(">=tablet") {
    font-size: dynamic-size(15, 13, "tablet");
  }

  @include media(">=desktop") {
    font-size: dynamic-size(13, 16, "desktop");
  }

  @include media(">=largeScreen") {
    font-size: $font-size-largeScreen;
  }
}
// *** FONTS END ***

// *** SPACING ***
$viewport-sizes: (
  "mobile": (
    360,
    768,
  ),
  "tablet": (
    768,
    1440,
  ),
  "desktop": (
    1440,
    1920,
  ),
);

@function dynamic-size($startPadding, $endPadding, $device-type) {
  $size: map-get($viewport-sizes, $device-type);
  $startViewport: nth($size, 1);
  $endViewport: nth($size, 2);

  @return calc(
    #{$startPadding}px + (#{$endPadding} - #{$startPadding}) *
      ((100vw - #{$startViewport}px) / (#{$endViewport} - #{$startViewport}))
  );
}

@mixin section-divider-sm {
  padding-top: dynamic-size(50, 100, "mobile");
}

@mixin section-divider-md {
  padding-top: dynamic-size(100, 150, "mobile");

  @include media(">=desktop") {
    padding-top: dynamic-size(150, 200, "desktop");
  }

  @include media(">=largeScreen") {
    padding-top: 200px;
  }
}
// *** SPACING END ***
