.about {
  @include grid-about;

  &__subtitle {
    color: #aeaeae;
    padding-bottom: 10px;

    @include media(">=tablet") {
      padding-bottom: 20px;
    }

    @include media(">=desktop") {
      padding-bottom: 10px;
    }
  }

  &__greetings {
    grid-area: greetings;
  }

  &__name {
    grid-area: name;
  }

  &__welcome {
    grid-area: welcome;

    @include media(">=desktop") {
      margin-top: auto;
    }
  }

  &__bio {
    grid-area: bio;

    @include media(">=desktop") {
      margin-top: auto;
    }
  }

  &__education {
    &-title {
      grid-area: education-title;
    }

    &-text {
      grid-area: education-text;
    }
  }

  &__whyme {
    &-title {
      grid-area: whyme-title;
    }

    &-text {
      grid-area: whyme-text;
    }
  }

  &__goal {
    grid-area: goal;
    font-size: 25px;
    line-height: 1.2;
  }

  &__contact {
    grid-area: contact;

    @include media(">=tablet") {
      margin: auto 0;
    }
  }
}

.image {
  &-about {
    &-1 {
      grid-area: img-about-1;
    }

    &-2 {
      grid-area: img-about-2;

      @include media(">=tablet") {
        margin-top: 40px;
      }

      @include media(">=desktop") {
        margin-top: 0;
      }
    }

    &-3 {
      grid-area: img-about-3;
    }

    &-4 {
      grid-area: img-about-4;
    }

    &-5 {
      grid-area: img-about-5;
      margin: auto;
    }

    &-6 {
      grid-area: img-about-6;
    }

    &-7 {
      grid-area: img-about-7;
    }

    &-8 {
      grid-area: img-about-8;
    }

    &-9 {
      grid-area: img-about-9;
    }

    &-10 {
      grid-area: img-about-10;
    }

    &-11 {
      grid-area: img-about-11;
    }

    &-12 {
      grid-area: img-about-12;
    }

    &-13 {
      grid-area: img-about-13;
    }

    &-14 {
      grid-area: img-about-14;
    }

    &-15 {
      grid-area: img-about-15;
    }

    &-16 {
      grid-area: img-about-16;
    }

    &-17 {
      grid-area: img-about-17;
    }

    &-18 {
      grid-area: img-about-18;

      @include media(">=tablet") {
        margin: auto 0;
      }
    }
  }
}
