.areas {
  grid-area: areas;
  margin: auto auto auto 0;
  font-size: 25px;
  font-weight: 300;
  max-width: 330px;
  text-align: start;

  @include media(">=tablet") {
    font-size: 46px;
    text-align: end;
    max-width: 585px;
    margin-left: auto;
    margin-right: 0;
  }

  @include media(">=desktop") {
    max-width: 655px;
  }

  @include media(">=largeScreen") {
    font-size: 62px;
    max-width: 934px;
  }

  &_about {
    grid-area: areas-about;
    text-align: end;
    margin-left: auto;
    margin-right: 0;
  }

  &_about .areas_responsive {
    &_sm {
      @include media(">=tablet") {
        display: none;
      }
    }

    &_lg {
      display: none;
      @include media(">=tablet") {
        display: block;
      }
    }
  }

  &_responsive {
    &_sm {
      @include media(">=desktop") {
        display: none;
      }
    }

    &_lg {
      display: none;
      @include media(">=desktop") {
        display: block;
      }
    }
  }

  &_goal {
    grid-area: areas-goal;
    max-width: 540px;
    text-align: start;

    @include media(">=tablet") {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.2;
      letter-spacing: -0.24px;
      max-width: max-content;
    }

    @include media(">=desktop") {
      margin: 0 auto 0 0;
      font-size: 46px;
    }
  }
}
