.divider {
  &-1 {
    @include section-top-divider;
    grid-area: divider-1;
  }
  &-2 {
    @include section-top-divider;
    grid-area: divider-2;
  }
  &-3 {
    @include section-top-divider;
    grid-area: divider-3;
  }
  &-4 {
    @include section-top-divider;
    grid-area: divider-4;
  }
  &-5 {
    @include section-top-divider;
    grid-area: divider-5;
  }
  &-6 {
    @include section-top-divider;
    grid-area: divider-6;
  }
  &-7 {
    @include section-top-divider;
    grid-area: divider-7;
  }
  &-8 {
    @include section-top-divider;
    grid-area: divider-8;
  }
  &-9 {
    @include section-top-divider;
    grid-area: divider-9;
  }
  &-10 {
    @include section-top-divider;
    grid-area: divider-10;
  }
  &-11 {
    @include section-top-divider;
    grid-area: divider-11;
  }
  &-12 {
    @include section-top-divider;
    grid-area: divider-12;
  }
  &-13 {
    @include section-top-divider;
    grid-area: divider-13;
  }
  &-14 {
    @include section-top-divider;
    grid-area: divider-14;
  }
  &-15 {
    @include section-top-divider;
    grid-area: divider-15;
  }
  &-16 {
    @include section-top-divider;
    grid-area: divider-16;
  }
  &-17 {
    @include section-top-divider;
    grid-area: divider-17;
  }
  &-18 {
    @include section-top-divider;
    grid-area: divider-18;
  }
  &-19 {
    @include section-top-divider;
    grid-area: divider-19;
  }
  &-20 {
    @include section-top-divider;
    grid-area: divider-20;
    display: none;

    @include media(">=tablet") {
      display: block;
    }
  }
  &-21 {
    @include section-top-divider;
    grid-area: divider-21;
    display: none;

    @include media(">=tablet") {
      display: block;
    }
  }
  &-22 {
    @include section-top-divider;
    grid-area: divider-22;
    display: none;

    @include media(">=tablet") {
      display: block;
    }
  }
}
