.header {
  padding-top: calc(40px + (20 - 40) * ((100vw - 360px) / (768 - 360)));
  padding-bottom: calc(40px + (20 - 40) * ((100vw - 360px) / (768 - 360)));
  color: $font-color-primary;
  line-height: 1.2;
  font-weight: 400;
  font-size: $font-size-mobile;

  // @include grid(repeat(4, 1fr), 1fr, 0, start);

  @include media(">=tablet") {
    font-size: $font-size-tablet;

    padding-bottom: 20px;

    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));
  }

  @include media(">=desktop") {
    font-size: $font-size-desktop;

    padding-bottom: calc(20px + (40 - 20) * ((100vw - 1440px) / (1920 - 1440)));

    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));
  }

  @include media(">=largeScreen") {
    font-size: $font-size-largeScreen;
    padding-bottom: 40px;
  }

  @include media(">=largeScreen") {
  }

  &__title {
    white-space: nowrap;
    max-width: max-content;
    font-size: $font-size-mobile;
    grid-column: 3 / span 2;

    padding-bottom: calc(100px + (218 - 100) * ((100vw - 360px) / (768 - 360)));

    @include media(">=tablet") {
      grid-column: 7 / span 2;
      padding-bottom: calc(218px + (228 - 218) * ((100vw - 768px) / (1440 - 768)));
    }

    @include media(">=desktop") {
      grid-column: 13 / span 2;
      padding-bottom: calc(228px + (301 - 228) * ((100vw - 1440px) / (1920 - 1440)));
    }

    @include media(">=largeScreen") {
      padding-bottom: 301px;
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  grid-column: 1 / span 2;

  @include media(">=tablet") {
    grid-column: 5 / span 2;
  }

  @include media(">=desktop") {
    grid-column: 9 / span 2;
  }

  &__btn {
    position: relative;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-size: $font-size-mobile;

    @include media(">=tablet") {
      font-size: $font-size-tablet;
    }

    @include media(">=desktop") {
      font-size: $font-size-desktop;
    }

    @include media(">=largeScreen") {
      font-size: $font-size-largeScreen;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      opacity: 0;
      transition: $transition;
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }

    &::before {
      content: "[";
      left: 0;
      transform: translateX(-100%) translateY(-5%);
    }

    &::after {
      content: "]";
      right: 0;
      transform: translateX(100%) translateY(-5%);
    }
  }
}
