.hero {
  color: $font-color-primary;
  line-height: 1.2;
  font-weight: 400;
  font-size: $font-size-mobile;
  padding-top: calc(40px + (20 - 40) * ((100vw - 360px) / (768 - 360)));

  @include media(">=tablet") {
    font-size: $font-size-tablet;
    padding-top: 20px;
  }

  @include media(">=desktop") {
    font-size: $font-size-desktop;
    padding-top: calc(20px + (40 - 20) * ((100vw - 1440px) / (1920 - 1440)));
  }

  @include media(">=largeScreen") {
    font-size: $font-size-largeScreen;
    padding-top: 40px;
  }
}

.gallery {
  @include grid(repeat(4, 1fr), auto, 0, start);

  @include media(">=tablet") {
    grid-template-columns:
      repeat(2, minmax(94.5px, auto))
      repeat(2, minmax(92.5px, auto))
      repeat(2, minmax(92px, auto))
      repeat(2, minmax(92.5px, auto));
  }

  @include media(">=desktop") {
    grid-template-columns:
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(117px, auto))
      repeat(2, minmax(81px, auto))
      repeat(2, minmax(116px, auto));
  }

  &__item {
    overflow-y: hidden;
    grid-column: span 2;

    &:nth-child(3) {
      // 1st hero gallery <li> image
      transform: translateY(-50%);
      display: none;

      @include media(">=tablet") {
        display: block;
      }

      @include media(">=desktop") {
        grid-column: 1 / span 2;
      }
    }

    &:nth-child(4) {
      // 2
      grid-column: 1 / span 2;

      @include media(">=tablet") {
        grid-column: 3 / span 2;
      }
    }

    &:nth-child(5) {
      // 3
      grid-column: 3 / span 2;
      margin-top: auto;
      transform: translateY(100%);

      @include media(">=tablet") {
        grid-column: 5 / span 2;
      }
    }

    &:nth-child(6) {
      // 4
      display: none;
      margin-top: auto;

      @include media(">=tablet") {
        display: block;
        grid-column: 7 / span 2;
      }
    }

    &:nth-child(7) {
      // 5
      transform: translateY(-50%);
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }

    &:nth-child(8) {
      // 6
      display: none;

      @include media(">=desktop") {
        display: block;
        transform: translateY(calc(76.5px - (-101 - -76.5) * ((100vw - 1440px) / (1920 - 1440))));
      }
    }

    &:nth-child(9) {
      // 7
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    object-fit: cover;
  }
}

.crop {
  margin-bottom: -10px;

  @include media(">=desktop") {
    margin-bottom: 0;
  }
}

.title {
  grid-column: 1;

  padding-top: calc(213px + (272 - 213) * ((100vw - 360px) / (768 - 360)));

  @include media(">=tablet") {
    padding-top: calc(272px + (306 - 272) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media(">=desktop") {
    padding-top: calc(306px + (403 - 306) * ((100vw - 1440px) / (1920 - 1440)));
  }

  @include media(">=largeScreen") {
    padding-top: 403px;
  }
}

// TODO: remove bottom and do top in next component
.portrait {
  grid-column: 3;
  padding-top: calc(100px + (150 - 100) * ((100vw - 768px) / (1440 - 768)));
  padding-bottom: calc(100px + (150 - 100) * ((100vw - 768px) / (1440 - 768)));

  @include media(">=tablet") {
    grid-column: 5 / span 2;
  }

  @include media(">=desktop") {
    grid-column: 7 / span 2;
    padding-top: calc(150px + (200 - 150) * ((100vw - 1440px) / (1920 - 1440)));
    padding-bottom: calc(150px + (200 - 150) * ((100vw - 1440px) / (1920 - 1440)));
  }

  @include media(">=largeScreen") {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.location {
  grid-column: 3 / span 2;
  padding-top: calc(213px + (272 - 213) * ((100vw - 360px) / (768 - 360)));

  @include media(">=tablet") {
    grid-column: 5 / span 2;
    padding-top: calc(272px + (306 - 272) * ((100vw - 768px) / (1440 - 768)));
  }

  @include media(">=desktop") {
    grid-column: 7 / span 2;
    padding-top: calc(306px + (403 - 306) * ((100vw - 1440px) / (1920 - 1440)));
  }

  @include media(">=largeScreen") {
    padding-top: 403px;
  }
}

.phone {
  grid-column: 3 / span 2;

  @include media(">=tablet") {
    grid-column: 7 / span 2;
    padding-top: calc(272px + (306 - 272) * ((100vw - 768px) / (1440 - 768)));

    @include media(">=desktop") {
      grid-column: 13 / span 2;
      padding-top: calc(306px + (403 - 306) * ((100vw - 1440px) / (1920 - 1440)));
    }
    @include media(">=largeScreen") {
      padding-top: 403px;
    }
  }
}
