.lens {
  grid-area: lens;
  width: 100%;

  padding: 60px 0;

  @include media(">=tablet") {
    padding: 80px 0;
  }

  @include media(">=desktop") {
    padding: 100px 0;
  }

  @include media(">=largeScreen") {
    padding: 130px 0;
  }

  &__title {
    width: max-content;
    margin: 0 auto;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__item {
    width: 1px;
    background: #000;

    &_bar {
      &_sm {
        height: 8px;
      }

      &_md {
        height: 16px;
      }
    }
  }
}
