.main {
  @include grid-main;

  &__hero {
    overflow-y: hidden;

    &:nth-child(3) {
      grid-area: img-main-1;
      transform: translateY(-50%);
      display: none;

      @include media(">=tablet") {
        display: block;
      }
    }

    &:nth-child(4) {
      grid-area: img-main-2;
    }

    &:nth-child(5) {
      grid-area: img-main-3;
      margin-top: auto;
      transform: translateY(100%);
    }

    &:nth-child(6) {
      grid-area: img-main-4;
      display: none;
      margin-top: auto;

      @include media(">=tablet") {
        display: block;
      }
    }

    &:nth-child(7) {
      grid-area: img-main-5;
      transform: translateY(-50%);
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }

    &:nth-child(8) {
      grid-area: img-main-6;
      display: none;

      @include media(">=desktop") {
        $YAxis: calc(76.5px - (-101 + 76.5) * ((100vw - 1440px) / (1920 - 1440)));

        display: block;
        transform: translateY($YAxis);
      }
    }

    &:nth-child(9) {
      grid-area: img-main-7;
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }
  }
}

.image-main-9 {
  grid-area: img-main-9;

  @include media(">=tablet") {
    max-width: 190px;
  }
}

.image-main-10 {
  grid-area: img-main-10;
}

.image-main-11 {
  grid-area: img-main-11;

  @include media(">=desktop") {
    margin: auto;
  }
}

.image-main-12 {
  grid-area: img-main-12;
}

.image-main-13 {
  grid-area: img-main-13;
}

.image-main-14 {
  grid-area: img-main-14;
}

.image-main-15 {
  grid-area: img-main-15;
}

.image-main-16 {
  grid-area: img-main-16;
  margin: auto;
}

.image-main-17 {
  grid-area: img-main-17;
}

.image-main-18 {
  grid-area: img-main-18;

  @include media(">=desktop") {
    margin: auto;
  }
}

.image-main-19 {
  grid-area: img-main-19;
}

.image-main-20 {
  grid-area: img-main-20;
}

.image-main-21 {
  grid-area: img-main-21;
}

.image-main-22 {
  grid-area: img-main-22;
}
