.page {
  @include font-responsive;
  color: $font-color-primary;
  line-height: 1.2;
  font-weight: 400;
  padding-top: dynamic-size(40, 20, "mobile");

  @include media(">=tablet") {
    padding-top: 20px;
  }

  @include media(">=desktop") {
    padding-top: dynamic-size(20, 40, "desktop");
  }

  @include media(">=largeScreen") {
    padding-top: 40px;
  }
}

.main {
  @include grid-main;

  &__hero {
    overflow-y: hidden;

    &:nth-child(3) {
      grid-area: img-1;
      transform: translateY(-50%);
      display: none;

      @include media(">=tablet") {
        display: block;
      }
    }

    &:nth-child(4) {
      grid-area: img-2;
    }

    &:nth-child(5) {
      grid-area: img-3;
      margin-top: auto;
      transform: translateY(100%);
    }

    &:nth-child(6) {
      grid-area: img-4;
      display: none;
      margin-top: auto;

      @include media(">=tablet") {
        display: block;
      }
    }

    &:nth-child(7) {
      grid-area: img-5;
      transform: translateY(-50%);
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }

    &:nth-child(8) {
      grid-area: img-6;
      display: none;

      @include media(">=desktop") {
        $YAxis: calc(76.5px - (-101 + 76.5) * ((100vw - 1440px) / (1920 - 1440)));

        display: block;
        transform: translateY($YAxis);
      }
    }

    &:nth-child(9) {
      grid-area: img-7;
      display: none;

      @include media(">=desktop") {
        display: block;
      }
    }
  }
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
}

.crop {
  margin-bottom: -10px;

  @include media(">=desktop") {
    margin-bottom: 0;
  }
}

.image-9 {
  grid-area: img-9;

  @include media(">=tablet") {
    max-width: 190px;
  }
}

.image-10 {
  grid-area: img-10;
}

.image-11 {
  grid-area: img-11;

  @include media(">=desktop") {
    margin: auto;
  }
}

.image-12 {
  grid-area: img-12;
}

.image-13 {
  grid-area: img-13;
}

.image-14 {
  grid-area: img-14;
}

.image-15 {
  grid-area: img-15;
}

.image-16 {
  grid-area: img-16;
  margin: auto;
}

.image-17 {
  grid-area: img-17;
}

.image-18 {
  grid-area: img-18;

  @include media(">=desktop") {
    margin: auto;
  }
}

.image-19 {
  grid-area: img-19;
}

.image-20 {
  grid-area: img-20;
}

.image-21 {
  grid-area: img-21;
}

.image-22 {
  grid-area: img-22;
}

.image-23 {
  grid-area: img-23;
}

.image-24 {
  grid-area: img-24;
}

.image-25 {
  grid-area: img-25;
}

.image-26 {
  grid-area: img-26;
}

.oneline {
  display: none;

  @include media(">=tablet") {
    display: inline-block;
  }
}

.multiline {
  margin-top: 4px;
  margin-bottom: -4px;

  @include media(">=tablet") {
    display: none;
  }
}
